html {
    background-color: #3b3b4f;
    color: #bacccc;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: solid black;
    margin: 0;
}   

#title {
    background-image: url("https://i.ibb.co/6PqY6pw/photo-2024-03-11-07-57-44.jpg");
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 50px;
    padding-bottom: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.body {
    background: #a6acaf;
    background: -webkit-linear-gradient(to right, #797a62, #403B4A);
    background: linear-gradient(to right, #65664a, #403B4A); 
    color: black;
    padding: 5px;
    background-size: cover;
}


label{
    display: block;
    margin: 0.3rem 0;
}

fieldset {
    border: 20;
    border-radius: 25px;
    border-color: 35px black;
    background-color: #a6acaf;
    padding: 50px;
    margin: 175px;
    margin-top: 25px;
    margin-bottom: 0;
    padding-top: 10px;
}

input, textarea, select {
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  min-height: 2em;
  padding-left: 25px;
  border: 1px solid #0a0a23;
  border-radius: 10px;
  }

.inline {
    width:  unset;
    margin-right: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    vertical-align: middle;
}

/* .learning {
    display: inline-block;
    text-align: left;
} */


.learn {
    display: flex;
    align-items: center;
}

input, textarea {
    background-color: white;
    border: 1px solid #0a0a23;
    color: #ffffff;
    border-radius: 15px;
    padding-left: 2px;
    padding-bottom: 10px;
    padding-right: 0;
    text-align: center;
}

input[type="submit"] {
    display: block;
    width: 60%;
    min-width: 300px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

 header {
    background-image: linear-gradient( 135deg, #3a272641 10%, #3609408c 100%);
    border: #0a0a23;
    border-radius: 50px;
 }
    

#description {
    padding-top: 0;
    padding-bottom: 25px;
    margin-bottom: 0;
}

#comments {
    text-align: left;
    padding-left: 10px;
    padding-top: 50px;
}

.checkbox-container input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
  }
  
  .checkbox-container label {
    display: inline-block;
    vertical-align: middle; 
    margin-left: 5px; 
  }